DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1545819429252628530/p5_pkUfLnflSy9Gu0zDhzrt-OOcmq4zmG05PCYLiVkLnWpUvNKXRrDRH7zjpNzE365tn
FILTERS_ENABLED=true
MAX_PRICE=50
POLL_INTERVAL=5
SEARCH_TEXT=pokemon
VINTED_BASE_URL=https://www.vinted.fr
